@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap');
@import url("navbar.css");
@import url("header.css");
@import url('slider.css');
html {
    scroll-behavior: smooth;
}

body,
html {
    font-family: 'Montserrat', sans-serif;
}

.dpf-box {
    color: white;
    padding: 6em;
    width: 50%;
}

.active {
    background-color: #165681 !important;
}

.dpf-box:hover {
    background-color: #165681 !important;
    color: white;
}

@media (max-width: 768px) {
    .dpf-box {
        color: white;
        padding: 6em;
        width: 100%;
    }
}

.dpf-hero {
    background-color: #467BA9;
    color: white;
}

.v-hr {
    height: 100%;
    width: 2px;
    background-color: black;
    margin: auto;
    content: '';
}

footer {
    background-color: #363636;
    color: white;
}

.googlemap {
    position: relative;
    height: 400px;
}

.googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
}

#map {
    background-color: #165681;
    color: white;
}

.orange-link {
    color: wheat;
    font-weight: bold;
}

.orange-link:hover {
    color: #edc477;
    text-decoration: underline;
}

#fast-contact {
    background-color: #c3d5e6;
    padding: 8em 0;
}

#fast-contact-box {
    background-color: #222;
    color: white;
}

.section-page {
    padding: 8em 0;
}

.read-more-link {
    color: white !important;
}

.read-more-link:hover {
    color: white !important;
}