#mainNav {
    background-color: transparent;
    font-family: "Nunito", sans-serif;
}

#mainNav.is-active {
    box-shadow: none;
    margin-right: 0 !important;
}

#mainNav.is-active a {
    color: white !important;
}

#mainNav.is-active a:hover {
    color: black !important;
}